.screen-content {
    margin-top: -100px;
    z-index: 4;
    position: 'relative';
    padding-top: 100px;
    background: #f7fcff;
    background-clip: padding-box;
    .content-box{
        padding-left: 100px;
    }
}