.home-hiring {
  p {
    text-align: center;
    max-width: 680px;
    margin: 40px auto;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 150px;

    li a {
      color: #39424e;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
    }

    li a:hover {
      text-decoration: underline;
    }
  }
}
