.home-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home-title{
    font-size: 64px;
    font-weight: 900;
    max-width: 780px;
    text-align: center;
}

.home-text p{
    font-size: 18px;
    max-width: 620px;
    font-weight: 300;
    text-align: center;
}

.home-intro .client-logos{
    display: flex; 
}

.home-intro .client-logos img{
    height: 60px;
    width: auto;
}