.interviews{
    position: relative;
    padding-top: 150px;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 70px;
        width: 25%;
        height: 50px;
        border: 1px solid rgba($color: #000000, $alpha: 0.5);
        border-width: 0 0 1px 1px;
        border-radius: 0px 30px;
    }
    &::before{
        content: '';
        position: absolute;
        top: 50px;
        left: 200px;
        width: 32.2%;
        height: 80px;
        border: 1px solid rgba($color: #000000, $alpha: 0.5);
        border-width: 1px 1px 0px 0px;
        border-radius: 0px 30px;
    }
    .interview-pic{
        display: block;
        margin: 0 auto;
        max-width: 1038px;
        width: 100%;
    }
}

@media all and (max-width: 1000px) {
    .interviews{
        padding-top: 50px;
        &::after, &::before{
            display: none;
        }
    }
}