.header-ribbon{
    display: flex;
    color: white;
    align-items: center;
    padding: 3px 20px;
    font-weight: 13px;
    gap: 20px;
    justify-content: space-between;
    .content{
        display: flex;
        width: 90%;
        gap: 50px;
        p{
            align-self: center;
        }
    }
    button{
        border: 1px solid white;
    }
    a{
        position: relative;
        width: 15px;
        height: 15px;
        opacity: 0.5;
        &:first-child::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 2px solid white;
            border-left: 2px solid white;
            transform: rotateZ(45deg);
        }
        
        &:last-child::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 2px solid white;
            border-right: 2px solid white;
            transform: rotateZ(45deg);
        }
    }
    

}

@media all and (max-width: 1000px) {
    .header-ribbon{
        display: none;
    }
}