.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        overflow: hidden;
        width: 30%;
        height: 30%;
        right: 20px;
        box-shadow: 0px 0px 200px #ccc;
        z-index: 0;
    }
    img{
        z-index: 1;
        width: 50%;
    }

    .content{
        padding-right: 60px;
        .title{
            font-size: 32px;
            color: #0E141E;
            font-weight: bold;
            margin: 0 0 16px;
        }
        .description{
            margin-bottom: 0.5em;
        }
        a{
            text-decoration: none;
            color: #0E141E;
            font-size: 14px;
            font-weight: 900;
        }
    }
}