.home-links-container{
    background: linear-gradient(to right, white 50%, #F3F7F7 50%);
    .home-links{
        display: flex;
        justify-content: space-between;
        .link-item{
            flex: 1 1 400px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            button{
                align-self: flex-start;
            }
        }
    }
}

@media all and (min-width: 1000px) {
    .home-links-container{
        .link-item{
            min-width: 450px;
            padding: 60px 50px;
        }
    }
}

@media all and (max-width: 1000px) {
    .home-links-container{
        background: none;
        .link-item{
            padding: 10px 0px;
            min-width: auto;
        }
    }
}