.home-links-container{
    background: linear-gradient(to right, white 50%, #F3F7F7 50%);
    .home-links{
        display: flex;
        justify-content: space-between;
        .link-item{
            flex: 0 0 45%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 60px 0px;
            button{
                align-self: flex-start;
            }
        }
    }
}