* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Open sans", sans-serif;
  flex-wrap: wrap;
  object-fit: contain;
}

body {
  width: 100%;
  height: 100%;
}



.big-title{
  font-size: 56px;
  font-weight: 300;
  line-height: 1.3;
}

.colourful-text{
  color: #068932;
  background-clip: text;
  background: -webkit-linear-gradient(right, #32C766, #068932);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description{
  color: #576871;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.59;
}

button{
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  background: #068932;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

a{
  text-decoration: none;
  transition: all .5s ease;
  color: black;
  &:hover{
    color: #1ba94c !important; 
  }
}

.small-t{
  font-size: 14px;
}

.cherry{
  position: relative;
  &::after{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid rgba($color: #000000, $alpha: 0.5);
      border-radius: 50%;
      background: white;
  }
}

.box {
  padding: 60px 0px;
  margin: 0 auto;
  max-width: 1120px;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}

@media all and (max-width: 1000px) {
  .container, .box{
    max-width: 90%;
  }
  .cherry::after, .cherry::before{
    display: none;
  }
}